* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url(black.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vh;
    height: 20vh;

    border-radius: 30%;

}

#hours {

    margin: 2vh;
    padding: 2vh;
    background-color: rgba(92, 101, 110, 0.555);
    height: 12vh;
    width: 12vh;
    border-radius: 0% 50% 0% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
}

#minutes {

    margin: 2vh;
    padding: 2vh;
    background-color: rgba(92, 101, 110, 0.555);
    height: 12vh;
    width: 12vh;
    border-radius: 0% 50% 0% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
}

#seconds {

    margin: 2vh;
    padding: 2vh;
    background-color: rgba(92, 101, 110, 0.555);
    height: 12vh;
    width: 12vh;
    border-radius: 0% 50% 0% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
}

#am_or_pm {

    height: 12vh;
    width: 12vh;
    border-radius: 0% 50% 0% 50%;
    margin: 2vh;
    padding: 2vh;
    background-color: rgba(92, 101, 110, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: aliceblue;
}

.dot {
    font-size: 8vh;
    color: aliceblue;
}

.para {
    color: white;
}
.para{
    font-size: 8vh;
    display: flex;
    position: relative;
    
}